In [1]:
# 정수형

var01 = 123
var01 = 1.2
var01 = -12.34
var01

-12.34

In [8]:
# 연산자

var01 = 3
var02 = 4

print('덧셈 : ', var01 + var02)
print('뺄셈 : ', var01 - var02)
print('곱셈 : ', var01 * var02)
print('실수 나눗셈 : ', var01 / var02)
print('정수 나눗셈 몫 : ', var01 // var02)
print('정수 나눗셈 나머지 : ', var01 % var02)
print('제곱 : ', var01 ** 2)

덧셈 :  7
뺄셈 :  -1
곱셈 :  12
실수 나눗셈 :  0.75
정수 나눗셈 몫 :  0
정수 나눗셈 나머지 :  3
제곱 :  9

In [9]:
# 거듭제곱

print('거듭제곱 :', var01**2)
print('거듭제곱 :', pow(var01, 2))

거듭제곱 : 9
거듭제곱 : 9

# 파이썬 모듈을 이용한 수학계산

In [10]:
import math #수학계산 모듈 불러오기

In [11]:
# 거듭제곱

math.pow(var01, 2)

9.0

In [12]:
# 제곱근

math.sqrt(var01)

1.7320508075688772

In [14]:
#sin 45
math.sin(45)

0.8509035245341184

In [15]:
# sin45 제곱 + cos45 제곱

math.pow(math.sin(45), 2) + math.pow(math.cos(45), 2)

1.0

# 난수발생

In [16]:
import random #난수 발생 모듈 불러오기

In [21]:
random.randint(1,100) # 1~100수 중 난수 발생

4

In [28]:
#로또 번호 생성기

lotto_range = range(1, 46) #1~45 까지 나온다.
random.sample(lotto_range, 6)

[33, 6, 17, 39, 35, 45]

In [30]:
# 반올림
print(round(123.45, 1))
print(round(123.456, 2))

123.5
123.46

In [32]:
# 올림
print(math.ceil(1.1))
print(math.ceil(1.9))

2
2

In [33]:
# 내림
print(math.floor(1.1))
print(math.floor(1.9))

1
1

In [34]:
# 메모리에 있는 변수 보기

dir()

['In',
 'Out',
 '_',
 '_1',
 '_11',
 '_12',
 '_14',
 '_15',
 '_17',
 '_18',
 '_19',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_28',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'lotto_range',
 'math',
 'quit',
 'random',
 'var01',
 'var02']

In [35]:
#메모리에 있는 변수 제거
lotto_range

range(1, 46)

In [36]:
del lotto_range
lotto_range

NameError: name 'lotto_range' is not defined

# 관계연산자

In [37]:
# 변수에 value 할당

num1 = 100
num2 = 20

In [38]:
# 동등 비교
print(num1 == num2)
print(num1 != num2)

False
True

In [39]:
# 크기 비교

print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

True
False
True
False

In [40]:
# 논리 연산자
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))

False
True

In [48]:
#부정 연산자
not(num1 >= num2)

False

# 문자열 자료형

In [41]:
var01 = "Hello world!"
var01

'Hello world!'

In [45]:
var01 = """
        Hello World!
        Good to meet you!
"""
var01

'\n        Hello World!\n        Good to meet you!\n'

In [47]:
print(var01)

        Hello World!
        Good to meet you!

In [54]:
var01 = "My father's wife is my mother"
var02 = 'He says "I love you."'
var03 = 'He says "I\'m loving you"'
print(var01)
print(var02)
print(var03)

My father's wife is my mother
He says "I love you."
He says "I'm loving you"

In [55]:
var03 = 'aaa\nbbb'
var04 = 'aaa\tbbb'
print(var03)
print(var04)
#n = newline
#t = tab

aaa
bbb
aaa	bbb

In [56]:
#문자열 연산 (덧셈)
var01 = "Python"
var02 = "is fun."
print(var01, var02)
print(var01 + var02)

Python is fun.
Pythonis fun.

In [57]:
#문자열 연산 (곱셈)

var01 = "Python"
print(var01 * 3)

PythonPythonPython

In [63]:
# 문자열 indexing과 slicing

str = "abcdefghijklmnopqrstuvwxyz"

print(str[0])
print(str[0:3])
print(str[-1])
print(str[5:])
print(str[:5])
print(str[0] + str[1] + str[2])
print(str[5:-2])

a
abc
z
fghijklmnopqrstuvwxyz
abcde
abc
fghijklmnopqrstuvwx

In [67]:
str01 = "20201229Snow"

year = str01[:4]
day = str01[4:8]
weather = str01[8:12]

print(str01[:4], str01[4:8], str01[8:12])
print(year, day, weather)

2020 1229 Snow

# 문자열 formatting

%s, %d, %f

In [68]:
# %d : 정수형 formatting
print("I have %d apples"%2)

I have 2 apples

In [69]:
# %s : 문자열 formatting
print("I have %s apples."%"two")

I have two apples.

In [80]:
# %f : 실수형 formatting
print("---------")
print("%0.4f"%3.141592)
print("%10.4f"%3.141592)

---------
3.1416
    3.1416

In [76]:
# 혼합형 formatting

number = 2
fruit = "apples"

print("I have %d %s."%(number, fruit))

I have 2 apples.

In [78]:
#문자열 정렬

print("I have 2 %s."%"apples")
print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2 apples.
I have 2     apples.
I have 2 apples    .

# 문자열 관련 함수

In [82]:
# 문자 count
str01 = "I have a dream."
print(str01.count('a')) #a글자 개수
print(len(str01))

3
15

In [85]:
# 문자 위치 알려주기 #1
print(str01.find('e'))
print(str01.find('a'))
print(str01.find('x'))

5
3
-1

In [90]:
# find로 'e'의 위치를 찾아서 e를 출력하기

print(str01[str01.find('e')])

e

In [91]:
# 문자열 삽입
str01 = ","
str01.join('abcde')

'a,b,c,d,e'

In [92]:
# 소문자를 대문자로 바꾸기

str01 = 'hi'
str01.upper()

'HI'

In [93]:
# 대문자를 소문자로 바꾸기
str01 = "HI"
str01.lower()

'hi'

In [97]:
#왼쪽 공백 지우기
str01 = "  HI  "
str01.lstrip()

'HI  '

In [98]:
str01.rstrip()

'  HI'

In [99]:
str01.strip()

'HI'

In [100]:
#문자열 바꾸기
str01 = "Life is too short to be happy."
str01.replace('happy', 'unhappy')

'Life is too short to be unhappy.'

In [108]:
#문자열 나누기
list01 = str01.split() #default : 공백
print(type(list01))
print(list01)
print(list01[0])

<class 'list'>
['Life', 'is', 'too', 'short', 'to', 'be', 'happy.']
Life

In [110]:
str02 = 'a:b:c:d'
list02 = str02.split(':')
print(list02)

['a', 'b', 'c', 'd']

# 날짜형 변환

In [111]:
#모듈 불러오기
from datetime import datetime, timedelta

In [118]:
time1 = datetime(2020,12,25,12,0,0,0)
print(time1)

2020-12-25 12:00:00

In [119]:
#날짜 계산하기
time2 = datetime.now() #현재일 시간
print(time2)

2020-08-13 12:42:30.268664

In [120]:
print(time1 - time2)

133 days, 23:17:29.731336

In [125]:
#종강일 계산하기
timefinal = datetime(2020,10,5,0,0,0,0)
print((timefinal - datetime.now()).days, '일')

52 일

In [128]:
print('현재 시간부터 5일 뒤')
print(time2 + timedelta(days=5))

print('현재 시간부터 3일 전')
print(time2 + timedelta(days=-3))

print('현재 시간부터 1일 뒤의 2시간 전')
print(time2 + timedelta(days=1, hours=-2))

현재 시간부터 5일 뒤
2020-08-18 12:42:30.268664
현재 시간부터 3일 전
2020-08-10 12:42:30.268664
현재 시간부터 1일 뒤의 2시간 전
2020-08-14 10:42:30.268664

In [134]:
time3 = datetime(1991,6,15,0,0,0,0)
print(time3 + timedelta(days=30000))

2073-08-03 00:00:00