# range 함수
format : range(시작, 끝, 증감)

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [4]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [5]:
list(range(0, 10, -2))

#안나오니까.... 조심해야한다...

[]

# for문
format : for 변수 in 리스트(튜플, 문자열) or range( )

## for문에 range 함수 사용하기

In [6]:
for i in range (1, 11) :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(5) :
    print(i)
    
#숫자가 1개가 있으면 무조건 0부터 시작해서 5개

0
1
2
3
4

In [12]:
# 1부터 10까지의 수 중 홀수만 출력하기(if문 사용)

for i in range(11) :
    if (i % 2 != 0) :
        print(i)

1
3
5
7
9

In [13]:
# 1부터 10까지의 수 중 홀수만 출력하기(if문 사용 X)

for i in range(1, 11, 2) :
    print(i)

1
3
5
7
9

In [32]:
# 1부터 10까지 제곱근 출력하기
import math

for i in range(1,11) :
    print("%2d : %.8f"%(i,math.sqrt(i)))

 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766

In [34]:
#1부터 1000까지 홀수의 합과 짝수의 합을 구하기
sum = [0,0]

for i in range (1,1001) :
    if i%2 == 0 :
        sum[0] += i
        continue
    sum[1] += i
    
print("짝수의 합은 %d이고 홀수의 합은 %d입니다."%(sum[0], sum[1]))

짝수의 합은 250500이고 홀수의 합은 250000입니다.

In [36]:
# 구구단 9단 출력

for i in range (1,10) :
    print ("9 X %d = %2d"%(i, i*9))

9 X 1 =  9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [43]:
# 2단부터 9단까지 결과만 출력하기
for i in range(2,10):
    for j in range (1,10) :
        print("%2d"%(i * j), end=" ")
    print()

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

In [44]:
# 구구단(2단~9단)중 짝수단과 짝수 곱해지는 수만 출력하기 (if문 사용 x)

for i in range(2,10,2) :
    for j in range(2,10,2) :
        print("%d X %d = %2d"%(i,j,(i*j)))
    print("----------------------")

2 X 2 =  4
2 X 4 =  8
2 X 6 = 12
2 X 8 = 16
----------------------
4 X 2 =  8
4 X 4 = 16
4 X 6 = 24
4 X 8 = 32
----------------------
6 X 2 = 12
6 X 4 = 24
6 X 6 = 36
6 X 8 = 48
----------------------
8 X 2 = 16
8 X 4 = 32
8 X 6 = 48
8 X 8 = 64
----------------------

In [46]:
# 평균 구하기 #1

scores = [78, 85, 95, 65]
total = 0

for i in range(0, len(scores)) :
    total += scores[i]
    
print(total/len(scores))

80.75

In [48]:
# 평균 구하기 #2
scores = [78, 85, 95, 65]
total = 0

for i in scores :
    total += i
    
print(total/len(scores))

80.75

## for문에 list 사용하기

In [49]:
test_list = ['one', 'two', 'three']

for i in test_list :
    print(i)

one
two
three

In [50]:
test_list = [1,2,3]
var_sum = 0

for i in test_list :
    var_sum += i
print(var_sum)

6

### for문에 Tuple 사용하기

In [54]:
# 리스트에 튜플을 함께 사용

var = [(1,2), (3,4), (5,6)]

for first, last in var :
    print(first, ":", last)

1 : 2
3 : 4
5 : 6

In [55]:
for first, last in var :
    print(first + last)

3
7
11

총 5명의 학생이 시험ㅇ르 보았는데 시험 점수가 60점을 넘으면 합격이고,<br>
그렇지 않으면 불합격이다. <br> 합격 불합격 결과 보여주기

In [58]:
scores = [90, 25, 67, 45, 80]

for i in scores :
    result = "불합격"
    if i >= 60 :
        result = "합격"
    print ("%d의 학생은 %s 입니다."%(scores.index(i)+1, result))

1의 학생은 합격 입니다.
2의 학생은 불합격 입니다.
3의 학생은 합격 입니다.
4의 학생은 불합격 입니다.
5의 학생은 합격 입니다.

In [59]:
for i in scores :
    result = "이어서 불합격"
    if i >= 60 :
        result = "이므로 합격"
    print ("%d의 학생은 점수가 %d%s 입니다."%(scores.index(i)+1,i,result))

1의 학생은 점수가 90이므로 합격 입니다.
2의 학생은 점수가 25이어서 불합격 입니다.
3의 학생은 점수가 67이므로 합격 입니다.
4의 학생은 점수가 45이어서 불합격 입니다.
5의 학생은 점수가 80이므로 합격 입니다.

학생들 점수의 평균을 구하여 평균점수보다 높으면 합격이고,<br>
그렇지 않으면 불합격이다. <br> 평균 보여주고 학생 번호와 점수 같이 보여주면서 합격 불합격 결과 보여주기

In [68]:
import numpy as np

avg = np.average(scores)

print("학급의 평균 점수는 %.2f 입니다."%avg)
print()

for i in scores :
    result = "이어서 불합격"
    if i >= avg :
        result = "이므로 합격"
    print ("%d의 학생은 점수가 %d%s 입니다."%(scores.index(i)+1,i,result))

학급의 평균 점수는 61.40 입니다.

1의 학생은 점수가 90이므로 합격 입니다.
2의 학생은 점수가 25이어서 불합격 입니다.
3의 학생은 점수가 67이므로 합격 입니다.
4의 학생은 점수가 45이어서 불합격 입니다.
5의 학생은 점수가 80이므로 합격 입니다.

학생들 점수가 60점 보다 높으면 합격이고,
그렇지 않으면 불합격이다.
합격인 학생만 출력하기

In [75]:
import numpy as np

for i in scores :
    if i < 60 :
        continue
    print ("%d의 학생은 합격 입니다."%(scores.index(i)+1))

1의 학생은 합격 입니다.
3의 학생은 합격 입니다.
5의 학생은 합격 입니다.

In [76]:
# 리스트를 읽어서 리스트 값에 5를 곱한 새로운 리스트 만들기

var01 = [1,2,3,4]
var02  =[]

for i in var01 :
    var02.append(i*5)
    
print(var02)

[5, 10, 15, 20]

총 5명의 학생이 시험을 보았는데 시험 점수가 60점을 넘음녀 합격이고<br>
그렇지 않으면 불합격이다. 합격인 학생들의 번호만 새로운 list를 생성하여 출력하기

In [84]:
scores = [90, 25, 67, 45, 80]
result = []
for i in scores :
    if i >= 60 :
        result.append(scores.index(i)+1)

print("합격자 번호 \n--------")
for i in result :
    print("   %s   "%i)

합격자 번호
--------
   1
   3
   5

### 파이썬의 listed for 문

In [87]:
# 리스트를 읽어서 리스트 값에 5를 곱한 새로운 리스트 만들기 (위위 문제 Python스럽게 만들기)

var01 = [1,2,3,4]
var02 = [i*5 for i in var01]
    
print(var02)

[5, 10, 15, 20]

In [88]:
# 위의 소스에 짝수인 경우만 5를 곱하여 리스트 만들기

var01 = [1,2,3,4]
var02 = [i*5 for i in var01 if i % 2 == 0]
    
print(var02)

[10, 20]

In [110]:
# 구구단 결과만 리스트로 만들기 (2단 ~ 9단)
result = [i * j for i in range (2,10) for j in range (1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [105]:
# 60점 이상의 학생 점수만 list로 만들어 평균 구하기
#평균은 numpy tkdydgkrl
import numpy as np
scores = [90, 25, 67, 45, 80]
passList = [i for i in scores if i >= 60]
print("합격한 학생들의 평균 점수는 %.2f입니다."%np.average(passList))

합격한 학생들의 평균 점수는 79.00입니다.

In [111]:
# 구구단 결과만 리스트로 만들기 (2단 ~ 9단)
result = [[i for i in range (2,10)] * j for j in range (1,10)]
print(result)

[[2, 3, 4, 5, 6, 7, 8, 9], [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9], [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9], [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9], [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9], [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9], [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9], [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9], [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9]]